mixin buttons
    each link in footer.links
        a.button.is-medium(href=link.url alt=link.label title=link.label
            style="margin-right: 10px")
            i.fa( class=link.icon )

mixin copyright
    h3.title.is-5=footer.copyrightText

footer.footer(style="padding-bottom: 3rem")
    .container

        .is-hidden-mobile
            .is-flex
                +buttons
                .is-flex(style="flex: 1; align-items:center; justify-content: flex-end;")
                    +copyright

        .is-hidden-tablet

            .is-flex( style="justify-content: center; margin-bottom: 20px;")
                +buttons

            .has-text-centered
                +copyright
