extends ../layout.pug

block content

	//- 'Intro' Section
	.intro-section.hero.is-primary.is-bold.is-large
		.hero-body.has-text-centered
			h1.title.is-1=page.header
			h2.subtitle.is-3=page.subheader

	//- Sections
	.intro-section.hero.is-default.is-large
		.hero-body.has-text-centered
			h1.title.is-1=page.header
			h2.subtitle.is-3=page.subheader

	.intro-section.hero.is-primary.is-bold.is-large
		.hero-body.has-text-centered
			h1.title.is-1=page.header
			h2.subtitle.is-3=page.subheader
